Host *
    AddKeysToAgent yes
    IdentityFile ~/.ssh/id_rsa
    CheckHostIP no
    SendEnv TERM_PROGRAM
    SendEnv COLORTERM

Host *pi *pi.local *pi.home.djehuti.com *pi-wifi.home.djehuti.com
    User pi

Host terpsichore
    User core
