"*":
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "tree-view"
      "haskell-ghc-mod"
      "ide-haskell"
      "ide-haskell-cabal"
      "ide-haskell-hasktags"
      "ide-haskell-hoogle"
      "ide-haskell-repl"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "*.pyc"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "solarized-light-syntax"
    ]
    useCustomTitleBar: true
  editor:
    fontSize: 13
    lineHeight: 1.3
    preferredLineLength: 120
    tabLength: 4
  "exception-reporting":
    userId: "0c71823b-1ac6-c8e8-cb0d-04db2ff72778"
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
  nuclide:
    "nuclide-diagnostics-ui":
      showDiagnosticTraces: true
    "nuclide-home":
      showHome: false
    "nuclide-remote-projects":
      connectionProfiles: [
        {
          deletable: true
          displayTitle: "bcox-desktop"
          params:
            displayTitle: "bcox-desktop"
            username: "bcox"
            server: "bcox-desktop"
            cwd: "/home/bcox/src/av"
            sshPort: "22"
            authMethod: "SSL_AGENT"
            pathToPrivateKey: "/Users/bcox/.ssh/id_rsa"
            remoteServerCommand: ""
          saveable: true
        }
      ]
    "nuclide-working-sets":
      workingSets: [
        {
          name: "Source"
          active: false
          uris: [
            "nuclide://bcox-desktop/home/bcox/src/av/source/.metadata.yml"
            "nuclide://bcox-desktop/home/bcox/src/av/source/CMakeLists.txt"
            "nuclide://bcox-desktop/home/bcox/src/av/source/abs_encoder"
            "nuclide://bcox-desktop/home/bcox/src/av/source/adis"
            "nuclide://bcox-desktop/home/bcox/src/av/source/aimsun_sim"
            "nuclide://bcox-desktop/home/bcox/src/av/source/annotation"
            "nuclide://bcox-desktop/home/bcox/src/av/source/applanix"
            "nuclide://bcox-desktop/home/bcox/src/av/source/applanix_sim"
            "nuclide://bcox-desktop/home/bcox/src/av/source/artifactory"
            "nuclide://bcox-desktop/home/bcox/src/av/source/atc_encoder"
            "nuclide://bcox-desktop/home/bcox/src/av/source/autoliv_radar"
            "nuclide://bcox-desktop/home/bcox/src/av/source/automatic_snapshot"
            "nuclide://bcox-desktop/home/bcox/src/av/source/autonomy"
            "nuclide://bcox-desktop/home/bcox/src/av/source/autonomy_monitor"
            "nuclide://bcox-desktop/home/bcox/src/av/source/autonomy_watchdog"
            "nuclide://bcox-desktop/home/bcox/src/av/source/autotune"
            "nuclide://bcox-desktop/home/bcox/src/av/source/avos"
            "nuclide://bcox-desktop/home/bcox/src/av/source/bazel"
            "nuclide://bcox-desktop/home/bcox/src/av/source/bezier_trajectory_generator"
            "nuclide://bcox-desktop/home/bcox/src/av/source/bing"
            "nuclide://bcox-desktop/home/bcox/src/av/source/blackbird_interface"
            "nuclide://bcox-desktop/home/bcox/src/av/source/bop"
            "nuclide://bcox-desktop/home/bcox/src/av/source/bosch_radar"
            "nuclide://bcox-desktop/home/bcox/src/av/source/build_scripts"
            "nuclide://bcox-desktop/home/bcox/src/av/source/calibration_tools"
            "nuclide://bcox-desktop/home/bcox/src/av/source/camera"
            "nuclide://bcox-desktop/home/bcox/src/av/source/camera_exposure"
            "nuclide://bcox-desktop/home/bcox/src/av/source/camera_utils"
            "nuclide://bcox-desktop/home/bcox/src/av/source/canbus"
            "nuclide://bcox-desktop/home/bcox/src/av/source/carsim"
            "nuclide://bcox-desktop/home/bcox/src/av/source/cassandra_helpers"
            "nuclide://bcox-desktop/home/bcox/src/av/source/catalog"
            "nuclide://bcox-desktop/home/bcox/src/av/source/chain"
            "nuclide://bcox-desktop/home/bcox/src/av/source/checks.yml"
            "nuclide://bcox-desktop/home/bcox/src/av/source/cleaning_board"
            "nuclide://bcox-desktop/home/bcox/src/av/source/cluster"
            "nuclide://bcox-desktop/home/bcox/src/av/source/code_templates"
            "nuclide://bcox-desktop/home/bcox/src/av/source/coding_style"
            "nuclide://bcox-desktop/home/bcox/src/av/source/color_map"
            "nuclide://bcox-desktop/home/bcox/src/av/source/common"
            "nuclide://bcox-desktop/home/bcox/src/av/source/config_health_monitor"
            "nuclide://bcox-desktop/home/bcox/src/av/source/config_manager"
            "nuclide://bcox-desktop/home/bcox/src/av/source/context_management"
            "nuclide://bcox-desktop/home/bcox/src/av/source/control"
            "nuclide://bcox-desktop/home/bcox/src/av/source/controller"
            "nuclide://bcox-desktop/home/bcox/src/av/source/coverage_planner"
            "nuclide://bcox-desktop/home/bcox/src/av/source/crash"
            "nuclide://bcox-desktop/home/bcox/src/av/source/curl"
            "nuclide://bcox-desktop/home/bcox/src/av/source/data_analysis"
            "nuclide://bcox-desktop/home/bcox/src/av/source/dbw"
            "nuclide://bcox-desktop/home/bcox/src/av/source/dbw_truck"
            "nuclide://bcox-desktop/home/bcox/src/av/source/dbw_v2"
            "nuclide://bcox-desktop/home/bcox/src/av/source/dbw_v3"
            "nuclide://bcox-desktop/home/bcox/src/av/source/delphi_esr_radar"
            "nuclide://bcox-desktop/home/bcox/src/av/source/delphi_mrr1_radar"
            "nuclide://bcox-desktop/home/bcox/src/av/source/delphi_rsds_radar"
            "nuclide://bcox-desktop/home/bcox/src/av/source/deprecated"
            "nuclide://bcox-desktop/home/bcox/src/av/source/deps"
            "nuclide://bcox-desktop/home/bcox/src/av/source/diagnostic_injection"
            "nuclide://bcox-desktop/home/bcox/src/av/source/diagnostics_aggregator"
            "nuclide://bcox-desktop/home/bcox/src/av/source/direct_drive"
            "nuclide://bcox-desktop/home/bcox/src/av/source/district_sync"
            "nuclide://bcox-desktop/home/bcox/src/av/source/download_revocation"
            "nuclide://bcox-desktop/home/bcox/src/av/source/elastic_search"
            "nuclide://bcox-desktop/home/bcox/src/av/source/embedded"
            "nuclide://bcox-desktop/home/bcox/src/av/source/embedded_interface"
            "nuclide://bcox-desktop/home/bcox/src/av/source/end_run"
            "nuclide://bcox-desktop/home/bcox/src/av/source/eventuality"
            "nuclide://bcox-desktop/home/bcox/src/av/source/experimental"
            "nuclide://bcox-desktop/home/bcox/src/av/source/fault_injection"
            "nuclide://bcox-desktop/home/bcox/src/av/source/fault_reporter"
            "nuclide://bcox-desktop/home/bcox/src/av/source/faultfs"
            "nuclide://bcox-desktop/home/bcox/src/av/source/file_logger"
            "nuclide://bcox-desktop/home/bcox/src/av/source/fpga"
            "nuclide://bcox-desktop/home/bcox/src/av/source/fusion"
            "nuclide://bcox-desktop/home/bcox/src/av/source/garmin"
            "nuclide://bcox-desktop/home/bcox/src/av/source/geo_buffer"
            "nuclide://bcox-desktop/home/bcox/src/av/source/geometry"
            "nuclide://bcox-desktop/home/bcox/src/av/source/go"
            "nuclide://bcox-desktop/home/bcox/src/av/source/graph_dstar"
            "nuclide://bcox-desktop/home/bcox/src/av/source/graphviz"
            "nuclide://bcox-desktop/home/bcox/src/av/source/graveler"
            "nuclide://bcox-desktop/home/bcox/src/av/source/groundhog"
            "nuclide://bcox-desktop/home/bcox/src/av/source/hardware_health_monitor"
            "nuclide://bcox-desktop/home/bcox/src/av/source/hdcam"
            "nuclide://bcox-desktop/home/bcox/src/av/source/hello_world"
            "nuclide://bcox-desktop/home/bcox/src/av/source/hex"
            "nuclide://bcox-desktop/home/bcox/src/av/source/hub"
            "nuclide://bcox-desktop/home/bcox/src/av/source/hwvv"
            "nuclide://bcox-desktop/home/bcox/src/av/source/image_processing"
            "nuclide://bcox-desktop/home/bcox/src/av/source/infra"
            "nuclide://bcox-desktop/home/bcox/src/av/source/integration_tests"
            "nuclide://bcox-desktop/home/bcox/src/av/source/intol"
            "nuclide://bcox-desktop/home/bcox/src/av/source/kafka"
            "nuclide://bcox-desktop/home/bcox/src/av/source/kml_utils"
            "nuclide://bcox-desktop/home/bcox/src/av/source/krypton_interface"
            "nuclide://bcox-desktop/home/bcox/src/av/source/krypton_thermal_control"
            "nuclide://bcox-desktop/home/bcox/src/av/source/ksib"
            "nuclide://bcox-desktop/home/bcox/src/av/source/labeling"
            "nuclide://bcox-desktop/home/bcox/src/av/source/libstereo"
            "nuclide://bcox-desktop/home/bcox/src/av/source/lidar"
            "nuclide://bcox-desktop/home/bcox/src/av/source/log_control"
            "nuclide://bcox-desktop/home/bcox/src/av/source/log_offloader"
            "nuclide://bcox-desktop/home/bcox/src/av/source/log_offloader_v2"
            "nuclide://bcox-desktop/home/bcox/src/av/source/log_player"
            "nuclide://bcox-desktop/home/bcox/src/av/source/m3"
            "nuclide://bcox-desktop/home/bcox/src/av/source/mailer"
            "nuclide://bcox-desktop/home/bcox/src/av/source/manual_log_extractors"
            "nuclide://bcox-desktop/home/bcox/src/av/source/mapstore_client"
            "nuclide://bcox-desktop/home/bcox/src/av/source/master_clock"
            "nuclide://bcox-desktop/home/bcox/src/av/source/matchbox"
            "nuclide://bcox-desktop/home/bcox/src/av/source/math"
            "nuclide://bcox-desktop/home/bcox/src/av/source/matrix_rep"
            "nuclide://bcox-desktop/home/bcox/src/av/source/midl"
            "nuclide://bcox-desktop/home/bcox/src/av/source/mixpanel"
            "nuclide://bcox-desktop/home/bcox/src/av/source/ml"
            "nuclide://bcox-desktop/home/bcox/src/av/source/mlp"
            "nuclide://bcox-desktop/home/bcox/src/av/source/mobile_comms"
            "nuclide://bcox-desktop/home/bcox/src/av/source/mobility_controller"
            "nuclide://bcox-desktop/home/bcox/src/av/source/mobster"
            "nuclide://bcox-desktop/home/bcox/src/av/source/motion_planner"
            "nuclide://bcox-desktop/home/bcox/src/av/source/mp_log_simulator"
            "nuclide://bcox-desktop/home/bcox/src/av/source/mp_log_validation"
            "nuclide://bcox-desktop/home/bcox/src/av/source/mp_map_cache"
            "nuclide://bcox-desktop/home/bcox/src/av/source/mp_metrics"
            "nuclide://bcox-desktop/home/bcox/src/av/source/mp_simulation"
            "nuclide://bcox-desktop/home/bcox/src/av/source/mp_tools"
            "nuclide://bcox-desktop/home/bcox/src/av/source/nmea"
            "nuclide://bcox-desktop/home/bcox/src/av/source/nominal_path"
            "nuclide://bcox-desktop/home/bcox/src/av/source/novatel"
            "nuclide://bcox-desktop/home/bcox/src/av/source/ntp"
            "nuclide://bcox-desktop/home/bcox/src/av/source/object_4d"
            "nuclide://bcox-desktop/home/bcox/src/av/source/obm"
            "nuclide://bcox-desktop/home/bcox/src/av/source/ocs"
            "nuclide://bcox-desktop/home/bcox/src/av/source/ocs_hud"
            "nuclide://bcox-desktop/home/bcox/src/av/source/odometer"
            "nuclide://bcox-desktop/home/bcox/src/av/source/odtac"
            "nuclide://bcox-desktop/home/bcox/src/av/source/offboard"
            "nuclide://bcox-desktop/home/bcox/src/av/source/onboard_scripts"
            "nuclide://bcox-desktop/home/bcox/src/av/source/openmp"
            "nuclide://bcox-desktop/home/bcox/src/av/source/optimization"
            "nuclide://bcox-desktop/home/bcox/src/av/source/otto"
            "nuclide://bcox-desktop/home/bcox/src/av/source/overseer"
            "nuclide://bcox-desktop/home/bcox/src/av/source/packaging"
            "nuclide://bcox-desktop/home/bcox/src/av/source/path_history"
            "nuclide://bcox-desktop/home/bcox/src/av/source/pcm"
            "nuclide://bcox-desktop/home/bcox/src/av/source/perception"
            "nuclide://bcox-desktop/home/bcox/src/av/source/perf_event_collector"
            "nuclide://bcox-desktop/home/bcox/src/av/source/performance_analysis"
            "nuclide://bcox-desktop/home/bcox/src/av/source/phav"
            "nuclide://bcox-desktop/home/bcox/src/av/source/planning_utilities"
            "nuclide://bcox-desktop/home/bcox/src/av/source/playback_director"
            "nuclide://bcox-desktop/home/bcox/src/av/source/playback_monitor"
            "nuclide://bcox-desktop/home/bcox/src/av/source/point_grey"
            "nuclide://bcox-desktop/home/bcox/src/av/source/point_renderer"
            "nuclide://bcox-desktop/home/bcox/src/av/source/pose_converters"
            "nuclide://bcox-desktop/home/bcox/src/av/source/pose_server"
            "nuclide://bcox-desktop/home/bcox/src/av/source/power_dist_board"
            "nuclide://bcox-desktop/home/bcox/src/av/source/prediction"
            "nuclide://bcox-desktop/home/bcox/src/av/source/production_logger"
            "nuclide://bcox-desktop/home/bcox/src/av/source/python"
            "nuclide://bcox-desktop/home/bcox/src/av/source/quanergy"
            "nuclide://bcox-desktop/home/bcox/src/av/source/radar"
            "nuclide://bcox-desktop/home/bcox/src/av/source/radar_stepper"
            "nuclide://bcox-desktop/home/bcox/src/av/source/reflex"
            "nuclide://bcox-desktop/home/bcox/src/av/source/release"
            "nuclide://bcox-desktop/home/bcox/src/av/source/replay_bench_maestro"
            "nuclide://bcox-desktop/home/bcox/src/av/source/repo"
            "nuclide://bcox-desktop/home/bcox/src/av/source/reporting"
            "nuclide://bcox-desktop/home/bcox/src/av/source/resmgr"
            "nuclide://bcox-desktop/home/bcox/src/av/source/ride_quality"
            "nuclide://bcox-desktop/home/bcox/src/av/source/rio"
            "nuclide://bcox-desktop/home/bcox/src/av/source/robotops"
            "nuclide://bcox-desktop/home/bcox/src/av/source/route_follower"
            "nuclide://bcox-desktop/home/bcox/src/av/source/route_planner"
            "nuclide://bcox-desktop/home/bcox/src/av/source/route_replay"
            "nuclide://bcox-desktop/home/bcox/src/av/source/rtp"
            "nuclide://bcox-desktop/home/bcox/src/av/source/salt"
            "nuclide://bcox-desktop/home/bcox/src/av/source/samples"
            "nuclide://bcox-desktop/home/bcox/src/av/source/seagull_interface"
            "nuclide://bcox-desktop/home/bcox/src/av/source/security"
            "nuclide://bcox-desktop/home/bcox/src/av/source/sensonor"
            "nuclide://bcox-desktop/home/bcox/src/av/source/services"
            "nuclide://bcox-desktop/home/bcox/src/av/source/shipyard"
            "nuclide://bcox-desktop/home/bcox/src/av/source/sick"
            "nuclide://bcox-desktop/home/bcox/src/av/source/sim_health_monitor"
            "nuclide://bcox-desktop/home/bcox/src/av/source/simulation"
            "nuclide://bcox-desktop/home/bcox/src/av/source/slack"
            "nuclide://bcox-desktop/home/bcox/src/av/source/snmp"
            "nuclide://bcox-desktop/home/bcox/src/av/source/spatial"
            "nuclide://bcox-desktop/home/bcox/src/av/source/spectacle"
            "nuclide://bcox-desktop/home/bcox/src/av/source/speed_planner"
            "nuclide://bcox-desktop/home/bcox/src/av/source/standalone_paths"
            "nuclide://bcox-desktop/home/bcox/src/av/source/streetside"
            "nuclide://bcox-desktop/home/bcox/src/av/source/surround_camera"
            "nuclide://bcox-desktop/home/bcox/src/av/source/switch_monitor"
            "nuclide://bcox-desktop/home/bcox/src/av/source/syslog_bridge"
            "nuclide://bcox-desktop/home/bcox/src/av/source/system_analysis"
            "nuclide://bcox-desktop/home/bcox/src/av/source/teleassist"
            "nuclide://bcox-desktop/home/bcox/src/av/source/teleop"
            "nuclide://bcox-desktop/home/bcox/src/av/source/terminal_server_board"
            "nuclide://bcox-desktop/home/bcox/src/av/source/testops"
            "nuclide://bcox-desktop/home/bcox/src/av/source/thermal_controller"
            "nuclide://bcox-desktop/home/bcox/src/av/source/third_party"
            "nuclide://bcox-desktop/home/bcox/src/av/source/timber"
            "nuclide://bcox-desktop/home/bcox/src/av/source/timber_thrift"
            "nuclide://bcox-desktop/home/bcox/src/av/source/time_sync"
            "nuclide://bcox-desktop/home/bcox/src/av/source/topcon"
            "nuclide://bcox-desktop/home/bcox/src/av/source/tracer_bullet"
            "nuclide://bcox-desktop/home/bcox/src/av/source/traffic_signal_perception_sim"
            "nuclide://bcox-desktop/home/bcox/src/av/source/trajectory_follower"
            "nuclide://bcox-desktop/home/bcox/src/av/source/transform_network"
            "nuclide://bcox-desktop/home/bcox/src/av/source/trip_issuer"
            "nuclide://bcox-desktop/home/bcox/src/av/source/trip_manager"
            "nuclide://bcox-desktop/home/bcox/src/av/source/troubleshooter"
            "nuclide://bcox-desktop/home/bcox/src/av/source/truck_interface"
            "nuclide://bcox-desktop/home/bcox/src/av/source/truck_mobility_interface"
            "nuclide://bcox-desktop/home/bcox/src/av/source/turn_by_turn"
            "nuclide://bcox-desktop/home/bcox/src/av/source/uber"
            "nuclide://bcox-desktop/home/bcox/src/av/source/uds"
            "nuclide://bcox-desktop/home/bcox/src/av/source/ultrasonic"
            "nuclide://bcox-desktop/home/bcox/src/av/source/unicron"
            "nuclide://bcox-desktop/home/bcox/src/av/source/unit_test_runner"
            "nuclide://bcox-desktop/home/bcox/src/av/source/unittest"
            "nuclide://bcox-desktop/home/bcox/src/av/source/url_handler"
            "nuclide://bcox-desktop/home/bcox/src/av/source/valeo_mb79_radar"
            "nuclide://bcox-desktop/home/bcox/src/av/source/vehicle_activity_monitor"
            "nuclide://bcox-desktop/home/bcox/src/av/source/vehicle_command_mux"
            "nuclide://bcox-desktop/home/bcox/src/av/source/vehicle_commander"
            "nuclide://bcox-desktop/home/bcox/src/av/source/vehicle_interface"
            "nuclide://bcox-desktop/home/bcox/src/av/source/vehicle_model"
            "nuclide://bcox-desktop/home/bcox/src/av/source/vehicle_pose_interpolator"
            "nuclide://bcox-desktop/home/bcox/src/av/source/velodyne"
            "nuclide://bcox-desktop/home/bcox/src/av/source/vim"
            "nuclide://bcox-desktop/home/bcox/src/av/source/virtual_bumper"
            "nuclide://bcox-desktop/home/bcox/src/av/source/virtual_lidar"
            "nuclide://bcox-desktop/home/bcox/src/av/source/virtual_perception"
            "nuclide://bcox-desktop/home/bcox/src/av/source/vv_software"
            "nuclide://bcox-desktop/home/bcox/src/av/source/xc90_interface"
            "nuclide://bcox-desktop/home/bcox/src/av/source/xes_compute"
            "nuclide://bcox-desktop/home/bcox/src/av/source/xis"
            "nuclide://bcox-desktop/home/bcox/src/av/source/xviz"
          ]
        }
        {
          name: "V&V"
          active: false
          uris: [
            "nuclide://bcox-desktop/home/bcox/src/av/config/reporting"
            "nuclide://bcox-desktop/home/bcox/src/av/config/tests.yml"
            "nuclide://bcox-desktop/home/bcox/src/av/config/tests"
            "nuclide://bcox-desktop/home/bcox/src/av/source/coding_style"
            "nuclide://bcox-desktop/home/bcox/src/av/source/experimental/bcox"
            "nuclide://bcox-desktop/home/bcox/src/av/source/experimental/cmoore"
            "nuclide://bcox-desktop/home/bcox/src/av/source/phav"
            "nuclide://bcox-desktop/home/bcox/src/av/source/repo"
            "nuclide://bcox-desktop/home/bcox/src/av/source/reporting"
            "nuclide://bcox-desktop/home/bcox/src/av/source/unittest"
            "nuclide://bcox-desktop/home/bcox/src/av/source/vv_software"
          ]
        }
      ]
  "one-light-ui":
    layoutMode: "Compact"
  "terminal-plus":
    style:
      theme: "homebrew"
    toggles:
      cursorBlink: false
  welcome:
    showOnStartup: false
".html.php.text":
  editor:
    tabLength: 2
".python.source":
  editor:
    showIndentGuide: false
    showInvisibles: false
    tabLength: 4
